@model Color
<form asp-action="Delete" asp-controller="Color" class="form-inline">

    <p>Buuu rengi silmək istədiyinizə əminsiniz?</p>

    <input type="hidden" asp-for="@Model.Id" />
    <input type="hidden" name="confirim" value="true" />
    <input type="submit" value="Yes" class="form-control btn btn-success" />
    <a asp-action="Index" asp-controller="Color" class="form-control btn btn-danger">No</a>
</form>

