@model Color

<div class="container">
    <div class="card" style="width: 18rem;">
        @foreach (ProductColor product in Model.ProductColors)
        {
            <img src="~/assets/images/website-images/@product.Product.ProductImages.FirstOrDefault(p=>p.IsPrimary==true)?.Url" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">@product.Product.Name</h5>
                <p class="card-text">@product.Product.Description</p>
            </div>
            
        }
    </div>
</div>