@model Tag
<div class="container">
	<h1 class="m-5">@Model.Name</h1>
	<div class="d-flex flex-wrap">
		@foreach (ProductTag pTag in Model.ProductTags)
		{
			<div class="card m-1" style="width: 18rem;">
				<img src="~/assets/images/website-images/@pTag.Product.ProductImages.FirstOrDefault(p=>p.IsPrimary==true).Url" class="card-img-top" alt="...">
				<div class="card-body">
					<h5 class="card-title">@pTag.Product.Name</h5>
					<p class="card-text">@pTag.Product.Description</p>
				</div>
			</div>
		}
	</div>
</div>
